.leftside {
    background: url('./assets/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    height: 100%;
}

@media screen and (max-width:991px) {
    .leftside {
        background: url('./assets/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 0px;
        height: 100%;
    }
}

.innerleftside {
    height: 300px;
    padding-top: 45px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

@media screen and (max-width:991px) {
    .innerleftside {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-left: 0;
        height: 150px;
        width: 70%;
        margin: auto;
    }
}

.sidebarcontent {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.sidebarcontent .number {
    background-color: #BEE2FC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    color: #02234E;
    font-family: Ubuntu-Bold;
}

.sidebarcontent h5 {
    font-size: 12px;
    color: #A3A0FF;
    margin: 0;
    font-family: Ubuntu-Regular;
}

.sidebarcontent span:last-child {
    color: #F9FEFF;
    font-family: Ubuntu-Bold;
    letter-spacing: 0.8px;
}

.sidebarcontent .step-info {
    display: block;
}



@media screen and (max-width:991px) {
    .sidebarcontent .step-info {
        display: none;
    }
}

/* Start Content-two  */
.content-two .plan-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 20px;
}

.content-two .plan-container .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    height: 200px;
    border: 1px solid #DBDADF;
    transition: all 0.3s;
}

.content-two .plan-container .plan:hover {
    border: 1px solid #534B98;
    background-color: #F8F9FE;
}

.content-two .plan-container .plan:nth-child(1) {
    border: 1px solid #534B98;
    background-color: #F8F9FE;
}

.content-two .plan-container .plan>img {
    width: 55px;
}

.content-two .plan-container .plan h3 {
    margin: 0;
    padding: 0;
    color: #122D4B;
    font-size: 18px;
    font-family: 'Ubuntu-Medium';
}

.content-two .plan-container .plan p {
    margin: 0;
    padding: 0;
    color: #BEBEC8;
    font-family: 'Ubuntu-Regular';
}

.content-two .section-two {
    background-color: #F8F9FE;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    place-content: center;
}

@media screen and (max-width:991px) {
    .content-two{
        height: fit-content !important;
    }
    .content-two .section-two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.content-two .section-two span {
    font-family: 'Ubuntu-Medium';
    display: inline-block;
    margin-right: 10px;
}

.content-two .section-two .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
}

/* Hide default HTML checkbox */
.content-two .section-two .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.content-two .section-two .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #042A5B;
    -webkit-transition: .4s;
    transition: .4s;
}

.content-two .section-two .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.content-two .section-two input:checked+.slider {
    background-color: #CCC;
}

.content-two .section-two input:focus+.slider {
    box-shadow: 0 0 1px #CCC;
}

.content-two .section-two input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.content-two .section-two .slider.round {
    border-radius: 34px;
}

.content-two .section-two .slider.round:before {
    border-radius: 50%;
}

.content-two .last-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
@media screen and (max-width:991px) {
    .content-two .last-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 80px;
    }
}
.content-two .last-section .btn-content {
    background-color: #174A8B;
    font-size: 15px;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu-Medium';
    display: flex;
    justify-content: flex-end;
}

.content-two .last-section .btn-content-back {
    background-color: #FFF;
    font-size: 15px;
    color: #16284C;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu-Medium';
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:991px) {
    .content-two {
        position: absolute;
        top: 190px;
    }
}

/* End Content-two  */